.content {
    color: #3f3d3d;
    font-family: 'Century-gothic', sans-serif;
    padding: 10px;
    margin: 20px;
    font-size: 16px;
    
}

body{
    Background-color: rgb(163, 179, 161);
    background-image: url('https://images.unsplash.com/photo-1612878010854-1250dfc5000a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA1fHxmdW5ueSUyMGFuaW1hbHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: 'Century-gothic', sans-serif;
}

header {
    background-color: #333;
    padding: 20px;
  }
  
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333
  }
  
nav li {
    display: inline;
    margin-right: 10px;
    float: left;
  }
  
nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline ;
  border-radius: 3px;
  }

a.active,a:hover{
  background:#70745a;
  transition:.5s;
}


h1,
h3{
    text-align: center;
    
}
#like-dislike-button button:first-child {
    background-color: #83af86;
    color: white;
    border-radius: 10px;
}
#like-dislike-button button:first-child:hover {
  background-color: green;
  color: white;
}

#like-dislike-button button:last-child {
    background-color: #c76363;
    color: white;
    border-radius: 10px;  
}

#like-dislike-button button:last-child:hover {
  background-color: rgb(211, 39, 39);
  color: white;
}

button {
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 100px
}


#joke-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(233, 203, 148) ;  
    margin-top: -30px;  
    margin-bottom: 50px; 
}

#page-container {
    margin: 50px;
    
}
.img-container {
  max-width: 100%;
  height: auto;
}

.img-container img {
  width: 30%;
  height: auto;
}

.user-comments {
  margin-top: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

#joke {
    font-family: Century-gothic, sans-serif;
    font-size: 18px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}

/* Styling for comment section */

#comment-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  #comment-section p {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  /* Styling for comment input area */
  #comment-input {
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  #submit-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-button:hover {
    background-color: #555;
  }

  #Contact {
    color: #fff;
    font-size: 18px;
    font-family: Century-gothic, sans-serif;
  }

  #quote {
    color: rgb(29, 29, 29);
    font-family: Century-gothic, sans-serif;
    text-align: center;
    font-weight: bold;

  }

/*Styling the about section*/

#About {
  background-color:rgb(163, 179, 161);
  padding: 5px;
  margin-top: 20px;
}

#About .content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#About h2 {
  font-size: 24px;
  color: #333;
}

#About p {
  font-size: 19px;
  line-height: 1.5;
  color: rgb(66, 64, 64);
  margin-bottom: 10px;

}
#About p strong {
  color: #333;
  font-weight: bold;
}

/*Styling the about section*/