h1,p{
    text-align: center;
}
#like-dislike-button button:first-child {
    background-color: white;
    color: black;
}

#like-dislike-button button:last-child {
    background-color: #FF5A5A;
    color: white;
  
}

#like-dislikte-buttons{
    margin-top: 60px;
}


#joke-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: orange ;
    
}

#page-container {
    padding-top: 20px;
    Background-color: darkblue;
}