body {
    color: #3f3d3d;
    font-family: 'Century-gothic', sans-serif;
    padding: 10px;
    margin: 0px;
    font-size: 16px;
}

h1,
p{
    text-align: center;
}
#like-dislike-button button:first-child {
    background-color: #45a049;
    color: white;
}

#like-dislike-button button:last-child {
    background-color: #FF5A5A;
    color: white;
  
}

#like-dislikte-buttons{
    margin-top: 50px;
}

button {
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}


#joke-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: orange ;
    
}

#page-container {
    padding-top: 20px;
    Background-color: darkblue;
}

#Joke {

}