body {
    color: #3f3d3d;
    font-family: 'Century-gothic', sans-serif;
    padding: 10px;
    margin: 0px;
    font-size: 16px;
    Background-color: rgb(163, 179, 161);
}

h1,
p{
    text-align: center;
}
#like-dislike-button button:first-child {
    background-color: #45a049;
    color: white;
}

#like-dislike-button button:last-child {
    background-color: #FF5A5A;
    color: white;
  
}



button {
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 300px
}


#joke-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(233, 203, 148) ;
    
}

#page-container {
    margin: 50px;
    
}

#joke {
    font-family: Century-gothic, sans-serif;
    font-size: 18px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
}
